<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>
	buffer-server</display-name>
	<servlet>
		<description>
		</description>
		<display-name>
		Post</display-name>
		<servlet-name>Post</servlet-name>
		<servlet-class>
		api.Post</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		GetAll</display-name>
		<servlet-name>GetAll</servlet-name>
		<servlet-class>
		api.GetAll</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		GetNext</display-name>
		<servlet-name>GetNext</servlet-name>
		<servlet-class>
		api.GetNext</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		Replace</display-name>
		<servlet-name>Replace</servlet-name>
		<servlet-class>
		api.Replace</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		EnterTestMessages</display-name>
		<servlet-name>EnterTestMessages</servlet-name>
		<servlet-class>
		api.EnterTestMessages</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		Clear</display-name>
		<servlet-name>Clear</servlet-name>
		<servlet-class>
		api.Clear</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Post</servlet-name>
		<url-pattern>/Post</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetAll</servlet-name>
		<url-pattern>/GetAll</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetNext</servlet-name>
		<url-pattern>/GetNext</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Replace</servlet-name>
		<url-pattern>/Replace</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EnterTestMessages</servlet-name>
		<url-pattern>/EnterTestMessages</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Clear</servlet-name>
		<url-pattern>/Clear</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
