@charset "UTF-8";
body {
	font-family:Verdana, Geneva, sans-serif;
	font-size:small;
	font-style:normal;
	color:#333;
	background: #FFFFFF;
	margin: 0; 
	padding: 0;
	text-align: center;
}
input.btn{
	width: 88px;
	height: 45px;
	background-image:url(/resources/images/button.png);
	background-color:#FFF;
	border: 1px solid #FFF;
}
input.btn_long{
	width: 88px;
	height: 45px;
	background-image:url(/resources/images/button.png);
	background-color:#FFF;
	border: 1px solid #FFF;
}
img.problem {
	border-color:#8CC63F;
	border-width:thick;
	border-style:solid;
}
div#header { 
	position:relative;
	height: 100px;
	width:100%;
	background: #DDDDDD;
	background-image:url(/resources/images/header.jpg);
	background-repeat:repeat-x;
}
div#logo { 
	position:absolute;
	top: 0;
	left: 0;
	width: 220px;
	height: 100px;
	background-image:url(/resources/images/logo.jpg);
	padding: 0;  
}
div#timer { 
	position:absolute;
	top: 14px;
	right: 100px;
	width: 164px;
	height: 164px;
	background-image:url(/resources/images/timer.png);
	padding: 0;
	float:right;
}
div#timer h1 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:42px;
	font-style:italic;
	font-weight:400;
	line-height:30px;
}
div#timer p {
	padding-top:30px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#666;
}
div#container {
	width: 68em;  
	background: #FFFFFF;
	margin: 0 auto; 
	text-align: left; 
}
div#containerR2 {
	width: 72em;  
	background: #FFFFFF;
	margin: 0 auto; 
	text-align: left; 
}
div#mainContent {
	padding: 40px 20px; 
	background: #FFFFFF;
}
div#mainContent h1 {
	margin: 0; 
	padding: 40px 0 0 0; 
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:32px;
	font-style:italic;
	font-weight:normal;
	color:#8CC63F;
}
div#questionSection {
	padding: 0 20px; 
	background: #FFFFFF;
	width: 450px;
	float:left
}
div#questionSection h1 {
	margin: 0; 
	padding: 40px 0 0 0; 
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:32px;
	font-style:italic;
	font-weight:normal;
	color:#8CC63F;
}
div#answerSection {
	margin-top: 20px;
	padding-left: 10px;
	width: 350px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:small;
	font-style:normal;
	color:#333;
	float:right;
}
div#reviewSection {
	margin-top: 4px;
	margin-left: 1px;
	border-color:#60BF4C; /*8CC63F;*/
	border-width:medium;
	border-style:solid;
	width: 900px;
}
div#reviewSection img {
	margin: 50px 10px 10px 30px;
	border-color:#B3B3B3;
	border-width:medium;
	border-style:solid;
	float:left;
}
div#rationales {
	margin: 40px 0 0 0;
	height: 500px;
}
div#rationales dt {
	padding-top: 20px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:small;
	font-weight:bold;
	color:#3690D1;
}
div#rationales dd {
	font-family:Verdana, Geneva, sans-serif;
	font-size:small;
	font-style:normal;
	color:#333;
}
div#step1 {
	margin: 20px;
	width: 415px;
	float: left;
}
div#step1 h2 { 
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:28px;
	font-style:italic;
	font-weight:normal;
	color:#FF591F;
}
div#step1 p { 
	font-family:Verdana, Geneva, sans-serif;
	font-size:small;
	font-style:normal;
	color:#333;
}
div#step2 { 
	margin: 40px 0 40px 0;
}
div#step2 h2 { 
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:28px;
	font-style:italic;
	font-weight:normal;
	color:#FF591F;
}
div#step2 p { 
	font-family:Verdana, Geneva, sans-serif;
	font-size:small;
	font-style:normal;
	color:#333;
}
div#step3 {
	margin: 20px;
}
div#step3 h2 { 
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:28px;
	font-style:italic;
	font-weight:normal;
	color:#FF591F;
}
div#step3 p { 
	font-family:Verdana, Geneva, sans-serif;
	font-size:small;
	font-style:normal;
	color:#333;
}
div#footer { 
	padding: 0 10px; 
	background:#DDDDDD;
} 
div#footer p {
	margin: 0; 
	padding: 10px 0; 
}
form#round1 label{
	margin-right:20px;
	color:#3690D1;
	font-size:large;
	font-weight:bold;
}
form#round1 select{
	margin-top: 0;
}
form#round1 dt{
	margin-top: 30px;
}
form#round1 dd{
	margin-top: 10px;
	margin-left: 10px;
}
form#round1 p{
	margin-top:2px;
	margin-left:20px;
	font-size:x-small;
}
form#round2_2 dt{
	margin-top: 30px;
}
form#round2_2 dd{
	margin-top: 10px;
	margin-left: 10px;
}
form#round2_2 label{
	margin-right:30px;
	color:#3690D1;
	font-size:large;
	font-weight:bold;
}





ul#miniTabs {
	margin: 0;
	padding: 0;
	height: 2em;
	list-style: none;
}
ul#miniTabs li {
	margin: 0 2px 0 0;
	/*padding: 10px 98px 4px 92px;*/
	padding: 10px 90px 4px 98px;
	background: url(images/miniTab.gif);
	float:left;
	font-weight:bold;
}
ul#miniTabs li.current {
	background-position: 0 -99px;
}
ul#miniTabs a {
	color:#333;
	display: block;
	float: left;
	padding-right: 10px;
	text-decoration:none;
    
}
.basicFont{
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	font-style:normal;
	color:#666;
}
