body {
	background-image: url('/resources/images/header_background.jpg');
	background-repeat: no-repeat;
	//background-position: right;
	background-color: #42a8ff;
	
}

#main {

	margin-left: auto;
	margin-right: auto;
	border:1px solid grey;
	background-color: #f9fffe;
	
	-moz-border-radius-topleft: 50px; 
	-moz-border-radius-topright: 50px; 
	-moz-border-radius-bottomleft: 50px; 
	-moz-border-radius-bottomright: 50px;
	
	width: 70%;
	margin-top: 1%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 2%;
	
}