/*align center for tag cloud DIV and the title of proposal list DIV */
.center {
	margin-left: auto;
	margin-right: auto;	
}
/* tagCloud DIV keeps all tags in a box */
#tagCloud { 
	width:50%;
	background-color:#E6E6E6;
	text-align:center; 
	padding:0px; 
	overflow:auto; 
	font-size:70%; 
	font-family:arial;
	text-align:center; 
}

/* the title in tag cloud box
#tagCloud h2 { 
	color:#575454;
    font-size:2.5em; 
	margin:0 0 10px 0; 
   padding:15px 0 15px 80px; 
}

/*  the list of all tags appears in tag cloud box */
#tagList { 
	margin:0;
	padding:0; 
}

/*  each tag in tag cloud box */
#tagList li { 
	list-style-type:none;
    float:left; margin:0 10px; 
    height:35px; 
}

/* tag in li of tag cloud box */
#tagList li a { 
	color:#848484; 
	text-decoration: none;
}


#tagList li a:hover { 
	text-decoration:underline; 
}

/* the color of tags when clicking on the list rows */
a.hilite { 
	color:#74DF00; 
}

div#tagDivs {
	width: 45%;
}

/* proposal list title */
#proposalTitle, #proposalAuthor, #proposalDate{
	width: 33%;
	float: left;
	text-align: center;
	border-bottom: 1px solid #848484;	
	margin-bottom: 5px;
}

/* div keeps new proposal buttom */
#newProposalDiv{
	float: left;
	width: 74%;
	margin: 0px 0px 5px 0px;
	padding: 10px;	
}

/*  the buttom of new proposal */
#newProposal{
	margin: 7px 0px 15px 0px;
	padding: 2px;	
	float: right;
	background:#777777 none repeat scroll 1 1;
	border-color:#888888;
	
	
/*	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
*	-moz-background-origin:padding;
*	background:#F9F9F9 none repeat scroll 0 0;
*	border-bottom:0.2em solid #EEEEEE;
*	height:0.9em;
*	left:0;
	overflow:hidden;
	position:absolute;
	right:0;
	top:0;
*/}

/*  this div keeps all tree items of proposal */
div.tag{
	height: 30px;
	margin: 0px 0px 5px 0px;
	padding: 5px 5px 5px 5px; 
	border-bottom: 1px solid #E6E6E6;
}

/* child divs of div.tag */
.title,.author,.date{
	width: 30%;
	float: left;
	margin: 0px 0px 0px 0px;
	padding: 5px 5px 5px 5px; 
	text-align: center;
}

/* the column of author in proposal list */
.author{
	border-right: 1px solid #E6E6E6;
	border-left: 1px solid #E6E6E6;
}

/* the column of date in proposal list */
.date{
	font-style: italic;	
	text-align: right;
}


