<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>
	roolo-standalone-server</display-name>
	<servlet>
		<description>
		</description>
		<display-name>
		TestELO</display-name>
		<servlet-name>TestELO</servlet-name>
		<servlet-class>
		TestELO</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		AddELO</display-name>
		<servlet-name>AddELO</servlet-name>
		<servlet-class>
		AddELO</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		RetrieveELO</display-name>
		<servlet-name>RetrieveELO</servlet-name>
		<servlet-class>
		RetrieveELO</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		RetrieveFirst</display-name>
		<servlet-name>RetrieveFirst</servlet-name>
		<servlet-class>
		RetrieveFirst</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		RetrieveVersion</display-name>
		<servlet-name>RetrieveVersion</servlet-name>
		<servlet-class>
		RetrieveVersion</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		RetrieveAllVersions</display-name>
		<servlet-name>RetrieveAllVersions</servlet-name>
		<servlet-class>
		RetrieveAllVersions</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		RetrieveMetadata</display-name>
		<servlet-name>RetrieveMetadata</servlet-name>
		<servlet-class>
		RetrieveMetadata</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		DeleteELO</display-name>
		<servlet-name>DeleteELO</servlet-name>
		<servlet-class>
		DeleteELO</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		UpdateELO</display-name>
		<servlet-name>UpdateELO</servlet-name>
		<servlet-class>
		UpdateELO</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		RetrieveVersions</display-name>
		<servlet-name>RetrieveVersions</servlet-name>
		<servlet-class>
		RetrieveVersions</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		UpdateMetadata</display-name>
		<servlet-name>UpdateMetadata</servlet-name>
		<servlet-class>
		UpdateMetadata</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		Search</display-name>
		<servlet-name>Search</servlet-name>
		<servlet-class>
		Search</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		RetrieveAll</display-name>
		<servlet-name>RetrieveAll</servlet-name>
		<servlet-class>
		RetrieveAll</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ManualAddELO</display-name>
		<servlet-name>ManualAddELO</servlet-name>
		<servlet-class>
		ManualAddELO</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		DeleteAll</display-name>
		<servlet-name>DeleteAll</servlet-name>
		<servlet-class>
		DeleteAll</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestELO</servlet-name>
		<url-pattern>/TestELO</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddELO</servlet-name>
		<url-pattern>/AddELO</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RetrieveELO</servlet-name>
		<url-pattern>/RetrieveELO</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RetrieveFirst</servlet-name>
		<url-pattern>/RetrieveFirst</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RetrieveVersion</servlet-name>
		<url-pattern>/RetrieveVersion</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RetrieveAllVersions</servlet-name>
		<url-pattern>/RetrieveAllVersions</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RetrieveMetadata</servlet-name>
		<url-pattern>/RetrieveMetadata</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteELO</servlet-name>
		<url-pattern>/DeleteELO</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateELO</servlet-name>
		<url-pattern>/UpdateELO</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RetrieveVersions</servlet-name>
		<url-pattern>/RetrieveVersions</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateMetadata</servlet-name>
		<url-pattern>/UpdateMetadata</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Search</servlet-name>
		<url-pattern>/Search</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RetrieveAll</servlet-name>
		<url-pattern>/RetrieveAll</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ManualAddELO</servlet-name>
		<url-pattern>/ManualAddELO</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteAll</servlet-name>
		<url-pattern>/DeleteAll</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
