@CHARSET "ISO-8859-1";

/* the main DIV containes all DIVs  */
#page_dvi {
	width:60%;
//	height: 100%;
//	max-height: 800px;
	margin-left: auto;
	margin-right: auto;	
	margin-up: 10px;	
	//	background-color:#E6E6E6;
	padding:0px; 
	text-align:center; 
}

.section_text{
	margin: 0% 5% 1% 5%;
	float: left;
}	

.section_button_Div{
	margin: 100px 55px 0px 0px;	
}
	      	
.section_button{
	float: right;
	width: 80px;
	margin: 0px 5px 5px 5px;
	padding: 3px 10px 3px 10px;	
	text-align: center;
}
.title{
	float: right;
	width: 95%;
	text-align: left;
	font-style:italic;
	color:#0300ee;
}

.tag{
	margin: 0% 5% 3% 5%;
	float: left;
}

.referance{
	margin: 0% 5% 5% 5%;
	float: left;
}
.search{
	margin-left:30%;
	float: left;
	
}	
